<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tool http://www.springframework.org/schema/tool/spring-tool-4.3.xsd
		">
	
	<bean id="utilitaireDao" class="fr.insee.arc.utils.dao.UtilitaireDao">
  		<constructor-arg index="0" value="arc" />
	</bean>
	
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:fr/insee/config/arc.properties
				</value>
				<value>file:${catalina.base}/webapps/arc.properties
				</value>
				<value>file:${catalina.base}/wtpwebapps/arc.properties
				</value>
			</list>
		</property>
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="ignoreResourceNotFound" value="true" />
	</bean>

	<!-- Gestion des properties -->
	<bean id="properties"
		class="fr.insee.arc.utils.ressourceUtils.PropertiesHandler">
		<property name="databasePoolName" value="${fr.insee.database.poolName}"></property>
		<property name="databaseUrl" value="#{systemEnvironment['DATABASE_URL'] ?: '${fr.insee.database.arc.url}' }"></property>
		<property name="databaseUsername" value="#{systemEnvironment['DATABASE_USER'] ?: '${fr.insee.database.arc.username}' }"></property>
		<property name="databaseRestrictedUsername" value="#{systemEnvironment['DATABASE_RESTRICTED_USER'] ?: '${fr.insee.database.arc.restrictedUsername:}' }"></property>
		<property name="databasePassword" value="#{systemEnvironment['DATABASE_PASSWORD'] ?: '${fr.insee.database.arc.password}' }"></property>
		<property name="databaseDriverClassName" value="${fr.insee.database.arc.driverClassName}"></property>
		<property name="ldapDirectoryUri" value="${fr.insee.annuaire.arc.uri:}"></property>
		<property name="ldapDirectoryIdent" value="${fr.insee.annuaire.arc.ident:}"></property>
		<property name="ldapDirectoryPassword" value="${fr.insee.annuaire.arc.password:}"></property>
		<property name="logConfiguration" value="${fr.insee.arc.log.configuration:fr/insee/config/log4j2.xml}"></property>
		<property name="batchParametersDirectory" value="#{systemEnvironment['APPLICATION_DIRECTORY'] ?: '${fr.insee.arc.batch.parametre.repertoire}' }"></property>
		<property name="version" value="${fr.insee.arc.version:v0}"></property>
		<property name="application" value="${fr.insee.application:ARC}"></property>
		<property name="authorizedRoles" value="${fr.insee.arc.roles.admin:}"></property>
	</bean>
	

	<bean id="springApplicationContext" class="fr.insee.arc.utils.ressourceUtils.SpringApplicationContext"/>

	<bean id="queryHandler"
		class="fr.insee.arc.utils.queryhandler.UtilitaireDAOIhmQueryHandler"
		scope="session">
		<aop:scoped-proxy />
		<constructor-arg value="${fr.insee.database.poolName}" />
	</bean>

</beans>