@charset "UTF-8";

/* base font size from rem */
html {
	font-size: calc(0.6vw + 6px);
}

body {
	background-color: #F7F7FF;
    position: relative;
    font-size : 0.8rem;
    line-height: 1.25rem;
}

.menu-input {
	border-bottom: 1px solid #dddddd;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
    width: 100%;
    text-align: inherit;
}

.font-weight-lightbold {
	font-weight: 600 !important;
}

.menu-selected {
	background-color : #e5e5e5;
}

/* Override bootstrap css */

.w-fitcontent
{
	width:fit-content;
}

textarea 
{
	    border: 2px solid transparent;
	    overflow-x: hidden; /* firefox fix for not matching rows number*/
}

.border-light {
	border-color: #dddddd !important;
}

.container-fluid {
	padding-right: 0;
    padding-left: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	padding-right: 0.3rem;
    padding-left: 0.3rem;
}	

.mt-3-00
{
	margin-top: 3rem!important;
}

.mt-2-25
{
	margin-top: 2.25rem;
}

.ml-0-50
{
	margin-left: 0.5rem;
}

.form-control{
	width: auto;
	font-size: inherit;
}

.bg-body {
	background-color: #ffffff !important;
}

.text-body {
    color: #000000!important;
}
    

.top-0 {
	top:0!important;
}

.left-0 {
	left:0!important;
}

.zindex-1000 {
	z-index:1000!important;
}


.btn-primary, .btn-secondary{
	line-height:0.9rem;
}

.btn-outline-primary, .btn-primary  {
    background-color: #222222;
    color: #ffffff;
    border-color: #007bff;
}

.btn-secondary {
    color: #fff;
    background-color: #6c887d;
    border-color: #6c757d;
}

.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .3rem 0.25rem 0.3rem;
    font-size: .8rem;
    line-height: 0.8rem;
    border-radius: .2rem !important;
    margin: 0.25rem;
}

li.nav-item {
    color: #000000;
}

li.nav-item.active {
	        border-bottom: 2px solid #000000;
}

.navbar-light .navbar-nav .nav-link.active {
    color: rgba(0,0,0,.9);
    border-bottom: 2px solid #000000;
}
.mt-0-1, .my-0-1 {
    margin-top:0.1rem !important;
}

.mt-0-2, .my-0-2 {
    margin-top:0.2rem !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
}

li.nav-item {
    color: #000000;
    text-align: center;
    margin-bottom: auto;
}

.navbar-brand {
    font-size: 2rem;
}

.nav-tabs {
    background-color: #ffffff;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
/*     color: #495057; */
/*     border-bottom: 2px solid #000000; */
/*     border-top: none; */
/*     border-left: none; */
/*     border-right: none; */
	font-weight:bold;
}

.nav-tabs .nav-link {
    height: 1.6rem;
    padding-top: 0.2rem;
    color: #000022;
}

.nav-link {
    display: block;
    padding: 0rem 0rem;
}

.jumbotron
{
	padding: 1em !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000022;
    background-color: transparent;
}

.btn-success {
    color: #fff !important;
    background-color: #28a745;
    border-color: #28a745;
}

.bg-primary {
    background-color: #005baf!important;
}

.badge-primary
{
	background-color: #005baf!important;
}

/* End of bootstap revamp */





li.nobullet
{
	list-style-type: none;
}


.collapser {
	cursor: pointer;
}

.collapser {
	display: inline-block;
	padding-right: 1em !important;
}

.collapseOpened .collapser {
	background: transparent url('../img/slideUp.png') right center no-repeat;
}

.collapseClosed .collapser {
	background: transparent url('../img/slideDown.png') right center
		no-repeat;
}

.alert {
	display: none;
}

.hide {
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
}

.font-smaller {
	font-size:smaller;
}

th.sort {
	width: 18px;
}

a.onglet {
	border: 1px solid;
	background-color: #ffffff;
	width: 90px;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	padding-top: 2px;
	height: 15px;
}

div.titre1 {
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 10px;
}

div.titre2 {
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}

div.bandeau {
	background-color: #005599;
	color: #ffffff;
	font-weight: bold;
	padding-top: 2px;
	border: 0px;
	height: 18px;
	font-size: 14px;
	overflow: hidden;
}

div.container {
	margin-left: 10px;
	margin-bottom: 5px;
}

select {
	font-size: inherit;
	background-color: inherit;
	font-family: inherit;
	border: none;
}

input {
	text-align: center;
	font-size: inherit;
	font-family: inherit;
}

[class="button"] {
	font-weight: bold;
	background-color: #ffffff;
	height: 18px;
	width: 30px;
	text-align: center;
	font-family: inherit;
	cursor: hand;
	cursor: pointer;
}

[class^="button.ctrl"] {
	font-weight: bold;
	background-color: #ffffff;
	height: 18px;
	width: 80px;
	text-align: center;
	font-family: inherit;
	cursor: hand;
	cursor: pointer;
}

.smallButton {
	font-weight: bold;
	background-color: #ffffff;
	height: 12px;
	width: 40px;
	text-align: center;
	font-family: inherit;
	cursor: hand;
	cursor: pointer;
	border: 1px solid #aaa;
	padding-bottom: 2px;
}

.hand {
	cursor: hand;
	cursor: pointer;
}

input[type='checkbox'] {
	width: 0.75rem;
    margin-left: 0.05rem;
}

input[type='text'] {
	width: 99%;
	background: inherit;
	border: none;
	height: 100%;
	text-align: left;
	text-overflow: ellipsis;
}

td textarea {
	position: relative;
	font: inherit;
	width: calc(100% - 6px);
	background-color: inherit;
	border: none;
	resize: none;
	overflow: hidden;
	vertical-align: top;
	max-height: 22px;
	line-height: 22px;
	outline-style: none;
	background-image: none;
	background-repeat: no-repeat;
	background-position: 100% 100%;
	padding: 2px;
	margin: 0px;
	min-height:2em;
}

button {
	font-size: inherit;
}

th textarea {
	position: relative;
	font: inherit;
	width: calc(100% - 6px);
	background-color: #dddddd;
	border: 3px solid #eeeeee;
	resize: none;
	overflow: hidden;
	vertical-align: top;
	max-height: 15px;
	line-height: 15px;
	outline-style: none;
	background-image: none;
	background-repeat: no-repeat;
	background-position: 100% 100%;
	padding: 0;
	margin: 0;
}
textarea:not(.noselect ):focus {
	background-image: none;
	max-height: 100%;
	border: 2px solid #009900;
	padding: 0px;
}
:focus-visible {
    outline: 0px;
}
textarea.env-description-field {
	resize: none;
	line-height: 1.25;
}

input[type='text']:focus {
	overflow-wrap: break-word;
	word-break: break-word;
}

input[type='button'] {
	position: relative;
	height: 18px;
	background-color: #CCDDFF;
	border: 1px outset #aaaaaa;
	padding-bottom: 2px;
}

div.tr_tab {
	margin-left: 10px;
	margin-top: 5px;
}

div.trb_tab {
	margin-left: 8px;
	margin-top: 2px;
	margin-bottom: 15px;
	min-width: 800px;
}

div.fond_gris {
	z-index: 6000;
	background-color: #000000;
	-moz-opacity: 0.20;
	opacity: 0.20;
	filter: alpha(opacity = 20);
}

div.fond {
	position: absolute;
	width: 100%;
	height: 100%;
}

div#body {
	width: 100%;
	height: 100%;
	border: 0px;
	margin-top: 0px;
	text-align: center;
}

div#hourglass {
	background: rgba(0, 0, 0, 0.1) url('../img/hourglass.gif') no-repeat
		50% 47.5%;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 9000;
	border: 0px;
	margin: 0;
	background-size: 5%;
}

img#img_hourglass {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
}

#divSuivi { /*height:100%;*/
	background-color: #e5f0ff;
	margin-bottom: 5px;
	/*border:1px solid #000000;*/
	padding: 10px;
}

/* div qui va service a etre déplacée ou redimensionnée */
div.presentation {
	position: absolute;
	/*background-color: #E5F0FF;*/
	background-color: rgba(229, 240, 255, 1);
	border: 1px solid black;
	margin-left: 0;
	margin-top: 0;
	color: #000000;
	padding: 2px;
	padding-bottom: 0px;
	-webkit-user-select: text;
	-moz-user-select: text;
	-khtml-user-select: text;
}

div[id^='bg'] {
	background-color: rgba(229, 240, 255, 1);
	border: 1px solid black;
	margin-left: 0;
	margin-top: 0;
	color: #000000;
	padding: 2px;
	padding-bottom: 0px;
}

div.wrapper_presentation {
	position: relative;
	overflow-y: auto;
	max-height: 850px;
}

div.wrapper_presentation_global {
	width: 100%;
	height: 100%;
	overflow: hidden
}

div.fieldset_header {
	position: relative;
	margin-bottom: 0px;
	border-bottom: 1px solid #aaaaaa;
	min-width: 830px;
	height: 19px;
}

div.barre_de_menu { /*aaddff*/
	background-color: #e8e8e8;
	min-width: 650px;
	height: 18px;
	margin-bottom: 5px;
	border-bottom: 1px solid #aaaaaa;
	z-index: 2001;
	position: relative;
}

input.but_menu {
	background-color: #e8e8e8;
}

table.menu {
	text-align: center;
	height: 18px;
	table-layout: fixed;
	border-spacing: 0px;
	border-collapse: collapse;
	width: 100%;
}

td.menu {
	top: 0px;
	left: 0px;
	width: 100px;
	height: 18px;
	border-spacing: 0px;
	border: 0px;
	padding: 0px;
}

td.menu_large {
	top: 0px;
	left: 0px;
	width: 200px;
	height: 18px;
	border-spacing: 0px;
	border: 0px;
	padding: 0px;
}

div.menu {
	border: 0px;
	padding: 0px;
	height: 18px;
	border-spacing: 0px;
}

input.menu {
	border: 0px;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #aaaaaa;
	border-spacing: 0px;
	width: 100%;
	text-align: center;
	height: 18px;
	background: url('../images/arrows-ffffff.png') no-repeat -10px -100px;
}

input.menu:hover {
	border: 1px outset #ffffff;
	border-spacing: 0px;
	width: 100%;
	text-align: center;
	height: 18px;
}

div.tabPrio {
	position: relative;
	table-layout: auto;
}

div.hide {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 800;
}

div.bandeau_main {
	margin-bottom: 10px;
	margin-top: 5px;
}

div.entete_code {
	background-color: #99ee99;
	min-width: 800px;
}

div.entete_standby {
	background-color: #66aaff;
	min-width: 800px;
}

div.entete_aValider {
	background-color: #ff8888;
	min-width: 800px;
}

div.entete_aCoder {
	background-color: #ffdd88;
	min-width: 800px;
}

input.btn_resize_voies,input.btn_resize_adresses {
	background-color: transparent;
	margin-left: 5px;
	margin-right: 5px;
}

div.menu_vertical {
	float: right;
}

div.menu_vertical input {
	display: block;
	width: 200px;
	z-index: 10000;
	background-color: #ffffff;
}

div.menu_vertical_none input {
	display: block;
	/*width:10px;*/
}

div.inline {
	background-color: #e8e8e8;
	display: inline-block;
}

div.onglet {
	/* position: relative; */
	height: 20px;
	margin-left: 0px;
	margin-top: 0px;
	position: relative;
	color: #000000;
	padding-left: 10px;
	min-width: 500px;
}

input.onglet {
	position: relative;
	top: 0px;
	left: -1px;
	background-color: #e8e8e8;
	width: inherit;
	border: 1px outset #aaaaaa;
	border-bottom-right-radius: 3px 3px;
	border-bottom-left-radius: 3px 3px;
	-moz-border-radius-bottomright: 3px 3px;
	-moz-border-radius-bottomleft: 3px 3px;
}

input.onglet_actif {
	position: relative;
	top: 0px;
	left: -1px;
	background-color: #f4ffff;
	width: inherit;
	font-weight: bold;
	border: 1px solid #aaaaaa;
	border-top: 0px;
	border-bottom-right-radius: 3px 3px;
	border-bottom-left-radius: 3px 3px;
	-moz-border-radius-bottomright: 3px 3px;
	-moz-border-radius-bottomleft: 3px 3px;
}

input.onglet_haut {
	position: relative;
	top: 0px;
	left: -1px;
	background-color: #d4dfdf;
	width: inherit;
	border: 1px outset #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
	border-top-right-radius: 3px 3px;
	border-top-left-radius: 3px 3px;
	-moz-border-radius-topright: 3px 3px;
	-moz-border-radius-topleft: 3px 3px;
	margin: 0;
}

input.onglet_haut_actif {
	position: relative;
	top: 0px;
	left: -1px;
	background-color: #f4ffff;
	width: inherit;
	font-weight: bold;
	border: 1px solid #aaaaaa;
	border-bottom: 0px;
	border-top-right-radius: 3px 3px;
	border-top-left-radius: 3px 3px;
	-moz-border-radius-topright: 3px 3px;
	-moz-border-radius-topleft: 3px 3px;
}

.border {
	border: 1px solid #aaaaaa;
}

div.onglet_haut {
	background-color: #f4ffff;
	border: 1px solid #aaaaaa;
	margin-top: 26px;
}

input.onglet_global {
	position: relative;
	top: 0px;
	left: -1px;
	background-color: #d4dfdf;
	width: inherit;
	border: 1px outset #aaaaaa;
	border-top-right-radius: 3px 3px;
	border-top-left-radius: 3px 3px;
	-moz-border-radius-topright: 3px 3px;
	-moz-border-radius-topleft: 3px 3px;
}

table td,table th {
	padding: 0px;
	font-size: 0.75rem;
}

.fieldset_header td {
	white-space: nowrap;
	overflow: hidden
}

.fieldset_header td:hover {
	white-space: normal;
	overflow: visible;
}

table.fixed {
	border: 0px;
	border-spacing: 0px;
	max-width: 200px;
	width: 100%;
}

h1 {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	padding-top: 0;
	padding-bottom: 0;
	color: black;
	font-weight: bold;
	font-size: 2rem;
}

h2 {  font-weight: bold; 
	font-size: 1.2rem;
	color: black;
}

h3 {
	color: black;
	font-weight: bold;
	font-size: 0.8rem;
}

table.entete {
	width: 100%;
}

.marge {
	margin-left: 2em;
	width: 10px;
}

div.blue {
	background-color: rgba(229, 240, 255, 1);
}

div.red {
	background-color: rgba(229, 223, 223, 1);
}

table.fixedHeader {
	table-layout: fixed;
	border-spacing: 0px;
	border-collapse: collapse;
	width: 1px;
}

table.fixedHeader thead tr {
	overflow: hidden;
	cursor: pointer;
}

/* make the TH elements pretty */
table.fixedHeader thead th {
	background-color: #eeeeee;
	border-top: 1px solid #AAAAAA;
	border-left: 1px solid #AAAAAA;
	border-right: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
	font-weight: bold;
	text-align: center;
	height: 24px;
}

table.fixedHeader thead th:first-child {
	width: 1rem;
}

table.fixedHeader thead td {
	background-color: #eeeeee;
	border-left: 1px solid #AAAAAA;
	border-right: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
	font-weight: normal;
	text-align: center;
	height: 24px;
}

table.fixedHeader thead a,table.fixedHeader thead a:link,table.fixedHeader thead a:visited
	{
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	width: 100%;
}

table.fixedHeader tbody a,table.fixedHeader thead a:link,table.fixedHeader thead a:visited
	{
	color: #000000;
	text-decoration: none;
	width: 100%;
}

table.fixedHeader tbody {
	max-height: 250px;
	overflow: auto;
	width: 100%;
	text-align: left;
	-webkit-user-select: text;
	-moz-user-select:	text;
	-khtml-user-select : text;
}

table.fixedHeader tbody tr:nth-child(even) {
	background-color: rgba(255, 255, 255, 1);
}

table.fixedHeader tbody tr:nth-child(odd) {
	background-color: rgba(224, 239, 255, 1);
}

div.red table.fixedHeader tbody tr:nth-child(odd) {
	background-color: rgba(249, 223, 223, 1);
}

div.blue div.wrapper_presentation {
	background-color: rgba(244, 255, 255, 1);
}

div.red div.wrapper_presentation {
	background-color: rgba(255, 251, 251, 1);
}

table.fixedHeader tbody div {
	max-height: 100em;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: inherit;
}

table.fixedHeader tbody td {
	border-bottom: 0px;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-top: 0px solid #DDD;
}

span.excel {
	background-image: url(../images/ico_file_excel.png);
}

span.csv {
	background-image: url(../images/ico_file_csv.png);
}

span.xml {
	background-image: url(../images/ico_file_xml.png);
}

span.pdf {
	background-image: url(../images/ico_file_pdf.png);
}

span.rtf {
	background-image: url(../images/ico_file_rtf.png);
}

span.export {
	cursor: pointer;
	display: inline-block;
	padding: 0 4px 1px 20px;
}

.total {
	font-weight: bold;
	background-color: #e0efff;
}

table.classTabSuivi {
	border: 1px solid #666;
}

table.classTabSuivi thead tr {
	background-color: #bbb;
}

table.classTabSuivi tr.even {
	background-color: #ffffff;
}

table.classTabSuivi tr.odd {
	background-color: #ffffff;
}

p.notfound {
	color: #ff0000;
}

#divReduites {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #eeeeee;
	border: 0;
	height: 25px;
	margin: 0;
	z-index: 6000;
	width: 100%;
}

ul.listeDivReduites {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	height: inherit;
	display: inline-block;
}

ul.listeDivReduites li {
	float: left;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 5px;
	margin-top: 0;
	padding: 0px 16px;
	height: 16px;
	position: relative;
	top: 1px;
	padding-top: 4px;
	width: 150px;
	text-align: center;
	font-weight: bold;
	background-color: #DDDDDD;
	border: 1px solid #AAAAAA;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

ul.listeDivReduites li:hover {
	border: 1px outset #AAAAAA;
}

li.bleu {
	color: #000099;
}

li.bleu:hover {
	color: #000099;
}

li.rouge {
	color: #990000;
}

li.edition {
	color: #9900CC;
}

#nmcl {
	background-color: white;
	border: thick;
	font-size: 12px;
}

body.help {
	font-size: large;
	border: solid #d8d8d8;
	box-sizing: border-box;
	border-width: 0.5rem 20vw 0.5rem 20vw;
	min-height:100vh;
	height:100%;
	width: 100%;
	padding: 1rem;
}

.help p {
	text-indent: 1.5em;
}

.help h1 {
	margin-bottom:1em;
}

.help h2 {
	margin:.75em;
}

.vh-menu-bar {
	min-height:calc(100vh - 3rem);
}

.vw-menu-bar {
	width:9.75rem;
}

.btn-width {
	 min-width:21rem;
}

.custom-file {
	 max-width:21rem;
}

.menu-box-style {
    background-color: #fcfcfc;
    border: 1px solid #f0f0f0;	
}

.arc-page-title {
	display:inline-block;
	align-self:center;
	font-size: 120%;
	font-weight:500;
}

.control-me {
  font-weight:500;
  line-height: 1.6rem;
  font-size: 0.8rem;
}

.chooseLine:checked ~ .control-me {
 font-weight:700 !important;
 background-color:#ffffff;
}


