<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package="fr.insee.arc.batch"></context:component-scan>
	<context:component-scan base-package="fr.insee.arc.core"></context:component-scan>
	<context:component-scan base-package="fr.insee.arc.utils"></context:component-scan>	

	<bean id="batchARC" class="fr.insee.arc.batch.BatchARC">
	</bean>

	<bean id="AppTest" class="fr.insee.arc.batch.AppTestTemp">
	</bean>
	 	 
	<bean id="utilitaireDao" class="fr.insee.arc.utils.dao.UtilitaireDao">
  	<constructor-arg index="0" value="arc" />
	</bean> 	 
 
	<!-- Gestion des properties -->
	<bean id="properties"
		class="fr.insee.arc.utils.ressourceUtils.PropertiesHandler">
		<property name="databasePoolName" value="${fr.insee.database.poolName}"></property>
		<property name="databaseUrl" value="#{systemEnvironment['DATABASE_URL'] ?: '${fr.insee.database.arc.url}' }"></property>
		<property name="databaseUsername" value="#{systemEnvironment['DATABASE_USER'] ?: '${fr.insee.database.arc.username}' }"></property>
		<property name="databaseRestrictedUsername" value="#{systemEnvironment['DATABASE_RESTRICTED_USER'] ?: '${fr.insee.database.arc.restrictedUsername:}' }"></property>
		<property name="databasePassword" value="#{systemEnvironment['DATABASE_PASSWORD'] ?: '${fr.insee.database.arc.password}' }"></property>
		<property name="databaseDriverClassName" value="${fr.insee.database.arc.driverClassName}"></property>
		<property name="ldapDirectoryUri" value="${fr.insee.annuaire.arc.uri}"></property>
		<property name="ldapDirectoryIdent" value="${fr.insee.annuaire.arc.ident}"></property>
		<property name="ldapDirectoryPassword" value="${fr.insee.annuaire.arc.password}"></property>
		<property name="logDirectory" value="${fr.insee.arc.log.directory:}"></property>
		<property name="logLevel" value="${fr.insee.arc.log.level:ERROR}"></property>
		<property name="logFileName" value="arc-batch"></property>
		<property name="logConfiguration" value="${fr.insee.arc.log.XMLconfiguration:fr/insee/config/log4j2.xml}"></property>
		<property name="batchParametersDirectory" value="#{systemEnvironment['APPLICATION_DIRECTORY'] ?: '${fr.insee.arc.batch.parametre.repertoire}' }"></property>
		<property name="version" value="${git.tags:0.0.0}"></property>
		<property name="versionDate" value="${git.commit.time:}"></property>
		<property name="gitCommitId" value="${git.commit.id:}"></property>
		<property name="application" value="${fr.insee.application:ARC}"></property>
		<property name="batchArcEnvironment" value="${fr.insee.arc.batch.parametre.env:arc.ihm}"></property>
		<property name="batchExecutionEnvironment" value="${fr.insee.arc.batch.parametre.envExecution:arc.prod}"></property>
	</bean>
	
	<bean id="activeLoggerDispatcher" class="fr.insee.arc.core.util.DefaultLoggerDispatcher"></bean>
</beans>