<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

	<!--_______________________________________________________________________________
																				   
	                       Est à  modifier par la production.					  
        			Mettre les loggers et le root à level égal WARN,   			   
    				 sauf le premier logger qui sera mis au niveau INFO.		  
             Le chemin des logs se modifie dans resource-dev.properties 		   
    																			   
        _______________________________________________________________________________
    -->


<log4j:configuration>

	<!--_______________________________________________________________________________
																				  
	                     Déclaration des types de sorties                          
	                    	 N'est pas à modifier			                      
		_______________________________________________________________________________
	-->

	<!--
		Déclaration de l'appender console : en théorie uniquement pour la partie test,
	 	mais utilisée en developpement
	 -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="DEV : %5p %d{DATE} - %c{1}:%-4L - %m%n" />
		</layout>
	</appender>

	<!-- configuration du fichier de log de base -->
	<appender name="logBase" class="org.apache.log4j.DailyRollingFileAppender" >
		<param name="file" value="${cheminLog}/log.txt" />
		<param name="datePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %d{DATE} - %X{UserID} - %c{1}:%-4L - %m%n" />
		</layout>
	</appender>



	<!-- Configuration du logger de surveillance du déroulement d'opérations 
		spéciales -->
	<appender name="logSpec" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${cheminLog}/logSpeciale.txt" />
		<param name="datePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %d{DATE} - %X{UserID} - %c{1}:%-4L - %m%n" />
		</layout>
	</appender>



	<!-- Déclaration de l'appender error -->
	<appender name="error" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${cheminLog}/logError.txt" />
		<param name="threshold" value="error" />
		<param name="datePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %d{DATE} - %X{UserID} - %c{1}:%-4L - %m%n" />
		</layout>
	</appender>
  
	<!--_______________________________________________________________________________
																				   
	                   	 Déclaration des packages tracés                            
		                   	Est à modifier			                               
		_______________________________________________________________________________
	-->
	

	
	<!-- Déclarations  fines. 
	En production, mettre <level value="WARN" />-->
	<logger name="com">
		<level value="WARN" />
		<appender-ref ref="logBase" />
		<appender-ref ref="error" />
		<appender-ref ref="console" />
	</logger>
	
	<!--En production, mettre <level value="WARN" />-->
	<logger name="org.apache">
		<level value="WARN" />
		<appender-ref ref="logBase" />
		<appender-ref ref="error" />
		<appender-ref ref="console" />
	</logger>


	
	<!--En production, mettre <level value="WARN" />-->
	<logger name="fr.insee.arc.core.service.extraction"  additivity="false">
		<level value="INFO" />
		<appender-ref ref="logBase" />
		<appender-ref ref="error" />
		<appender-ref ref="console" />
	</logger>
	
	


	<!-- Déclaration du logger de base.
	En production, mettre <level value="WARN" />-->
	<root>
		<priority value="WARN"></priority>
		<appender-ref ref="console" />
	</root>



</log4j:configuration>

	
	
	
	
