<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3.1.xsd" version="3.1">
  <display-name>arc</display-name>

  <servlet>
    <servlet-name>sirene</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:applicationContext.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>sirene</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>Arc</servlet-name>
    <servlet-class>fr.insee.arc.ws.servlet.ServletArc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Arc</servlet-name>
    <url-pattern>/webservice/*</url-pattern>
  </servlet-mapping>
  
</web-app>