<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tool http://www.springframework.org/schema/tool/spring-tool-4.3.xsd
		">

	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package="fr.insee.arc.web"></context:component-scan>
	<context:component-scan base-package="fr.insee.arc.core"></context:component-scan>
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:fr/insee/config/arc.properties
				</value>
				<value>classpath:fr/insee/config/devarc.properties
				</value>
			</list>
		</property>
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="ignoreResourceNotFound" value="true" />
		

	</bean>

	<!-- Gestion des properties -->
	<bean id="properties"
		class="fr.insee.arc.utils.ressourceUtils.PropertiesHandler">
		<property name="databasePoolName" value="${fr.insee.database.poolName}"></property>
		<property name="databaseUrl" value="${fr.insee.database.arc.url}"></property>
		<property name="databaseUsername" value="${fr.insee.database.arc.username}"></property>
		<property name="databasePassword" value="${fr.insee.database.arc.password}"></property>
		<property name="databaseDriverClassName" value="${fr.insee.database.arc.driverClassName}"></property>
		<property name="ldapDirectoryUri" value="${fr.insee.annuaire.arc.uri}"></property>
		<property name="ldapDirectoryIdent" value="${fr.insee.annuaire.arc.ident}"></property>
		<property name="ldapDirectoryPassword" value="${fr.insee.annuaire.arc.password}"></property>
		<property name="logPath" value="${fr.insee.arc.log.chemin}"></property>
		<property name="logLevel" value="${fr.insee.arc.log.niveau}"></property>
		<property name="logConfiguration" value="${fr.insee.arc.log.configuration}"></property>
		<property name="batchParametersDirectory" value="${fr.insee.arc.batch.parametre.repertoire}"></property>
		<property name="threadsChargement" value="${fr.insee.arc.threads.chargement:1}"></property>
		<property name="threadsNormage" value="${fr.insee.arc.threads.normage:1}"></property>
		<property name="threadsControle" value="${fr.insee.arc.threads.controle:1}"></property>
		<property name="threadsFiltrage" value="${fr.insee.arc.threads.filtrage:1}"></property>
		<property name="threadsMapping" value="${fr.insee.arc.threads.mapping:1}"></property>
		<property name="threadsRegle" value="${fr.insee.arc.threads.regle:1}"></property>
		<property name="threadNombre" value="${fr.insee.arc.threads.nombre:1}"></property>
		<property name="version" value="${fr.insee.arc.version}"></property>
		<property name="isProd" value="${fr.insee.plateforme.prod:false}"></property>
		<property name="application" value="${fr.insee.application:ARC}"></property>
		<property name="schemaReference" value="${fr.insee.arc.schema.reference}"></property>
		<property name="rootDirectory" value="${fr.insee.arc.repertoire.root}"></property>
	</bean>



	<!-- Pour que le Spring puisse utiliser l'AOP -->
	<!-- <bean class="org.springframework.aop.aspectj.annotation.AnnotationAwareAspectJAutoProxyCreator"></bean> 
		<bean class ="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/> -->


	<bean id="queryHandler"
		class="fr.insee.arc.utils.queryhandler.UtilitaireDAOIhmQueryHandler"
		scope="session">
		<aop:scoped-proxy />
		<constructor-arg value="${fr.insee.database.poolName}" />
	</bean>

	<bean id="viewListNomenclatures" class="fr.insee.arc.web.model.ViewListNomenclatures"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewListNomenclatures" />
		<property name="title" value="Liste des nomenclatures" />
		<property name="paginationSize" value="15" />
	</bean>
	<bean id="viewNomenclature" class="fr.insee.arc.web.model.ViewNomenclature"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewNomenclature" />
		<property name="title" value="Nomenclature" />
		<property name="paginationSize" value="15" />
	</bean>
	<bean id="viewSchemaNmcl" class="fr.insee.arc.web.model.ViewSchemaNmcl"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewSchemaNmcl" />
		<property name="title" value="Schema d'une nomenclature" />
		<property name="paginationSize" value="15" />
	</bean>
	<bean id="viewClient" class="fr.insee.arc.web.model.ViewClient"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewClient" />
	</bean>
	<bean id="viewFamilleNorme" class="fr.insee.arc.web.model.ViewFamilleNorme"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewFamilleNorme" />
	</bean>
	<bean id="viewNorme" class="fr.insee.arc.web.model.ViewNorme"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewNorme" />
	</bean>

	<bean id="viewCalendrier" class="fr.insee.arc.web.model.ViewCalendrier"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewCalendrier" />
	</bean>

	<bean id="viewJeuxDeRegles" class="fr.insee.arc.web.model.ViewJeuxDeRegles"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewJeuxDeRegles" />
	</bean>

	<bean id="viewChargement" class="fr.insee.arc.web.model.ViewChargement"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewChargement" />
	</bean>


	<bean id="viewNormage" class="fr.insee.arc.web.model.ViewNormage"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewNormage" />
	</bean>

	<bean id="viewControle" class="fr.insee.arc.web.model.ViewControle"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewControle" />
	</bean>

	<bean id="viewFiltrage" class="fr.insee.arc.web.model.ViewFiltrage"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewFiltrage" />
	</bean>

	<bean id="viewMapping" class="fr.insee.arc.web.model.ViewMapping"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewMapping" />
	</bean>

	<bean id="viewTableMetier" class="fr.insee.arc.web.model.ViewTableMetier"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewTableMetier" />
	</bean>
	<bean id="viewVariableMetier" class="fr.insee.arc.web.model.ViewVariableMetier"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewVariableMetier" />
	</bean>
	<bean id="viewJeuxDeReglesCopie" class="fr.insee.arc.web.model.ViewJeuxDeReglesCopie"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewJeuxDeReglesCopie" />
		<property name="title" value="Choix d'un jeux de règles" />
		<property name="paginationSize" value="15" />
	</bean>

	<bean id="viewCampagne" class="fr.insee.arc.web.model.ViewCampagne"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewCampagne" />
		<property name="title" value="viewCampagne" />
		<property name="paginationSize" value="10" />
	</bean>


	<bean id="viewPilotageBAS8" class="fr.insee.arc.web.model.ViewPilotageBAS8"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewPilotageBAS8" />
		<property name="title" value="Etat des fichiers" />
		<property name="paginationSize" value="5" />
	</bean>
	<bean id="viewRapportBAS8" class="fr.insee.arc.web.model.ViewRapportBAS8"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewRapportBAS8" />
		<property name="title" value="Rapports d'anomalie" />
		<property name="paginationSize" value="10" />
	</bean>
	<bean id="viewFichierBAS8" class="fr.insee.arc.web.model.ViewFichierBAS8"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewFichierBAS8" />
		<property name="title" value="Détail des fichiers du Bac à Sable" />
		<property name="paginationSize" value="10" />
	</bean>
	<bean id="viewEntrepotBAS8" class="fr.insee.arc.web.model.ViewEntrepotBAS8"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewEntrepotBAS8" />
		<property name="title" value="Détail des fichiers du Bac à Sable" />
		<property name="paginationSize" value="15" />
	</bean>
	<bean id="viewArchiveBAS8" class="fr.insee.arc.web.model.ViewArchiveBAS8"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewArchiveBAS8" />
		<property name="title" value="Contenu du répertoire d'archive" />
		<property name="paginationSize" value="15" />
	</bean>
	<bean id="viewPilotagePROD" class="fr.insee.arc.web.model.ViewPilotagePROD"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewPilotagePROD" />
		<property name="title" value="Pilotage de la production" />
		<property name="paginationSize" value="10" />
	</bean>
	<bean id="viewRapportPROD" class="fr.insee.arc.web.model.ViewRapportPROD"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewRapportPROD" />
		<property name="title" value="Rapports d'anomalie" />
		<property name="paginationSize" value="10" />
	</bean>
	<bean id="viewFichierPROD" class="fr.insee.arc.web.model.ViewFichierPROD"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewFichierPROD" />
		<property name="title" value="Detail des Fichiers de la production" />
		<property name="paginationSize" value="10" />
	</bean>
	<bean id="viewEntrepotPROD" class="fr.insee.arc.web.model.ViewEntrepotPROD"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewEntrepotPROD" />
		<property name="title" value="Détail des fichiers de la production" />
		<property name="paginationSize" value="15" />
	</bean>
	<bean id="viewArchivePROD" class="fr.insee.arc.web.model.ViewArchivePROD"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewArchivePROD" />
		<property name="title" value="Contenu du répertoire d'archive" />
		<property name="paginationSize" value="15" />
	</bean>
	<bean id="viewListProfils" class="fr.insee.arc.web.model.ViewListProfils"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewListProfils" />
		<property name="title" value="Liste des groupes applicatifs de Arc" />
		<property name="paginationSize" value="15" />
	</bean>
	<bean id="viewListUtilisateursDuProfil"
		class="fr.insee.arc.web.model.ViewListUtilisateursDuProfil"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewListUtilisateursDuProfil" />
		<property name="title" value="Les agents du groupe sélectionné" />
		<property name="paginationSize" value="15" />
	</bean>

	<bean id="viewQuery" class="fr.insee.arc.web.model.ViewQuery"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewQuery" />
		<property name="title" value="Résultat" />
		<property name="paginationSize" value="10" />
	</bean>
	<bean id="viewTable" class="fr.insee.arc.web.model.ViewTable"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewTable" />
		<property name="title" value="Tables du schéma" />
		<property name="paginationSize" value="0" />
	</bean>
	<bean id="viewDirIn" class="fr.insee.arc.web.model.ViewDirIn"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewDirIn" />
		<property name="title" value="Fichier du répertoire en entrée" />
		<property name="paginationSize" value="0" />
	</bean>
	<bean id="viewDirOut" class="fr.insee.arc.web.model.ViewDirOut"
		scope="session">
		<aop:scoped-proxy />
		<property name="pool" value="arc" />
		<property name="sessionName" value="viewDirOut" />
		<property name="title" value="Fichier du répertoire en sortie" />
		<property name="paginationSize" value="0" />
	</bean>
</beans>